@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

:root{
    font-family: "Montserrat", sans-serif;
}

@theme {
    --color-offBlack: #1d1f1f;
    --color-darkSlateGray: #2e2f2f;
    --color-avatar: #242626;
    --color-customBlack: #161717;

    --animate-slideIn: slideIn 0.25s ease-in-out;
    --animate-slideOut: slideOut 0.25s ease-in-out;
    --animate-pop: pop-out 350ms ease-in-out;

    @keyframes slideIn {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0%);
            opacity: 1;
        }
    }

    @keyframes slideOut {
        0% {
            transform: translateX(0%);
            opacity: 1;
        }
        100% {
            transform: translateX(-100%);
            opacity: 0;
        }
    }


    @keyframes pop-out {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
}


@layer utilities{
    .hover-effect{
        @apply p-2 hover:bg-darkSlateGray hover:cursor-pointer;
    }
        
    .h1 {
        @apply text-[1.2rem] font-medium text-white;       
    }

    .light-h1{
        @apply text-[0.85rem] font-medium;
    }
    
    .large-text{
        @apply text-3xl font-extralight text-white;
    }

    .light-title{
        @apply text-[0.8rem] font-medium text-neutral-400;
    }

    .message-text{
        @apply text-[0.7rem] font-medium text-white;
    }

    .flex-box{
        @apply w-full flex justify-center items-center gap-8; 
    }

    .mini-flex-box {
        @apply w-full flex justify-start items-center p-2 cursor-pointer;
    }

    .customCard {
        @apply w-full min-h-18 flex gap-5 items-center hover:bg-darkSlateGray hover:cursor-pointer px-3 py-2 rounded-2xl;
    }

    .green-circle {
        @apply p-3 rounded-full bg-green-400;
    }

    .line {
        @apply w-full h-0.5 rounded-full bg-slate-700/50 mx-auto my-1;
    }

    .menu-svg {
        @apply w-6 text-neutral-400 mr-2;
    }

    .menu-text {
        @apply text-[0.8rem] text-neutral-400 font-medium;
    }
}

@layer components {
    .center{
        @apply w-full h-full flex justify-center items-center;
    }

    .page-container{
        @apply flex relative w-full h-full z-10;
    }

    .left-side {
        @apply relative z-50 w-[31%] h-full bg-customBlack border-r border-r-stone-600;
    }

    .right-side {
        @apply relative z-0 w-[calc(100%-31%)] bg-customBlack;
    }

    .left-side-container{
        @apply w-full h-full py-3 px-5 flex flex-col;
    }
}